{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{{ action }} Item{% endblock %}</h1>
<form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Item Name"
        value="{{ request.form['name'] or item['name'] if item else '' }}" required> <!-- Added conditional value -->

    <label for="description">Description</label>
    <textarea name="description"
        placeholder="Item Description">{{ request.form['description'] or item['description'] if item else '' }}</textarea>

    <button type="submit">Submit</button>
</form>
{% endblock %}